blockland-20/base/server/temp/temp.bls
blockland-20/config/server/*.cs
blockland-20/config/client/*.cs
blockland-20/cache.db
blockland-20/cache.db.journal
blockland-20/console.log
blockland-20/key.dat

!blockland-20/config/server/ADD_ON_LIST.cs
